@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

$primaryColor: #794983;
$secondaryColor: #9C9AC0;
$backGroundColor: #DFCED5;
$middleColor: #C39EC3;
$lightestColor: #F2F2F2;


.paginationContainer {
    display: flex;
    justify-content: center;
    font-family: $font;
    color: $primaryColor;
    // align-items: center;
    // width: 100%;
    // font-weight: 500;
    // font-size: 1rem;
}

.paginationContainer button {
    color: $primaryColor;
    height: 40px;
    width: 80px;
    border: 1px solid $middleColor;
    border-radius: 10%;
    margin: 10px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-decoration: none;
    // transition: background-color .2s;
    // cursor: pointer;
}

.paginationContainer button.active {
    background-color: $primaryColor;
    color: white;
    border: 1px solid $secondaryColor;
}

.paginationContainer button.disabled {
    opacity: 0.2;
}

.paginationContainer button:hover:not(.active) {
    background-color: $lightestColor;
}

.homeContainer {
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    // margin-right: 20px;

    h2 {
        font-family: $font;
        font-size: 1rem;
        margin-top: 4%;
        color: $primaryColor;
        margin-left: 4%;
        margin-right: 4%;
    }
    .activeContainer {
        h6 {
            border-bottom: solid;
            border-style: ridge;
            margin-bottom: 1rem;
        }
    }
    .activeFilterContainer {
        color: $primaryColor;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: solid;
        border-top: solid;
        border-color: thistle;
        margin: 1px;

        div {
            width: 11rem;
        }

        img {
            cursor: pointer;
            height: 15px;
            // width: 15px;
        }
    }

    .filter-container {
        background-color: $lightestColor;
        box-shadow: 0 2px 4px $primaryColor;
        margin-left: 3rem;
        height: 42rem;
        width: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // justify-content: right;
        // position: left;
        // height: 100%;

        select {
            border: 1px solid $secondaryColor;
            background-color: $secondaryColor;
            color: $lightestColor;
            width: 150px;
            margin-left: 1.6rem;
            // display: flex;
        }

        ul {
            list-style: none;
            text-align: left;
            padding-right: 8%;

            li {
                list-style: none;
                cursor: pointer;
                color: $secondaryColor;
                margin: 2px;
            }
        }
    }
}