@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato',
sans-serif;

$primaryColor: #794983;
$secondaryColor: #9C9AC0;
$backGroundColor: #DFCED5;
$middleColor: #C39EC3;
$lightestColor: #F2F2F2;

.btnProducto {
    width: 110px;
}

.btnPrincipal {
    /* margin: 10%; */
    margin: 3%;
    margin-bottom: 0%;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    /* padding: 0.5em 1.2em; */
    background: #794983;
    border: 2px solid;
    border-color: #794983;

    .linkBtn{
        text-decoration: none;
        color: $lightestColor;
        font-size: 0.9rem;
    }
}

.btnPrincipal:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px #794983;
    transition: all 0.2s ease;
}


.purchaseInfoContainer {
    display: flex;
    flex-direction: column;

    .singlePurchaseContainer {
        display: flex;
        flex-direction: row;
        background-color: $lightestColor;
        border-radius: 10px;
        margin: 10px;
        justify-content: center;

        .purchaseCard {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            width: 95%;

            .dateContainer {
                display: flex;
                flex-direction: row;
                width: 90%;
                justify-content: flex-end;
                margin-top: 40px;

                span {
                    font-size: 0.6rem;
                    color: $primaryColor;
                    font-family: $font;
                }
            }


            .purchaseHeader {
                display: flex;
                flex-direction: row;
                align-content: flex-start;
                margin: 1%;
                padding-left: 2%;
                padding-right: 2%;
                width: 100%;

                div {
                    padding-left: 2%;
                    padding-right: 2%;
                    width: 100%;
                }

                .mapContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 40px;
                }

                .itemContainer {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 0;
                    height: 40px;
                    width: 130px;

                }

                .itemContainer3 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 1%;
                    margin-right: 1%;
                    margin-bottom: 0;
                    justify-content: center;
                    align-content: center;
                    height: 40px;
                    margin-top: 5px;
                }

                .itemContainer2 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 1%;
                    margin-right: 1%;
                    margin-bottom: 0;
                    justify-content: center;
                    align-content: center;
                    height: 40px;
                    margin-top: 5px;

                    h5 {
                        font-size: 0.8rem;
                        font-family: $font;
                        color: $primaryColor;
                        width: 100px;
                        height: 40px;
                        margin-top: 5px;
                    }
                }

                h3 {
                    font-size: 1rem;
                    text-align: left;
                    font-family: $font;
                    height: 40px;
                    margin-top: 5px;
                    color: $primaryColor;
                    font-weight: 600;
                }

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
            }

            .purchaseInfo {
                text-align: left;
                color: $primaryColor;
                font-family: $font;

                h5 {
                    font-size: 0.8rem;
                }

                span {
                    font-size: 0.7rem;
                }
            }

            h4 {
                color: $primaryColor;
                font-size: 1.5rem;
                font-family: $font;
            }
        }

        .purchaseFooter {
            display: flex;
            flex-direction: column;
            align-content: center;

            .valorationContainer {
                display: flex;
                flex-direction: column;

                .buttonsContainer {
                    display: flex;
                    flex-direction: row;

                    .buttonTitleContainer {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

    }


}