.card {
    width: 200px;
    border-color: black;
    // border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(167, 165, 165, 0.2);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  
    &:hover {
      transform: scale(1.05);
      border-style: ridge;
      border-width: 0.5px;
    }

  
  
  }


  .imagenOne{
    display: flex;
    background-color:#666 ;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    object-fit: cover;
    // border-radius: 10px;
  }

  .textContainer{
    h2{
      font-family: 'Raleway', sans-serif;
      margin: 1%;
      font-size: 0.8rem;
      margin-top: 10px;
      text-align: left;
    }
    h3{
      font-family: 'Montserrat', sans-serif;
      font-size: 0.6rem;
      margin: 1%;
      text-align: left;
    }
    h6{
      text-align: left;
      margin-left: 10px;
      margin-bottom: 4%;
      margin-top: 0%;
      font-size: 0.6rem;
    }
    .headerContainer{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 2%;
      align-content: flex-start;
    }
  }


