@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato',
sans-serif;

$primaryColor: #794983;
$secondaryColor: #9C9AC0;
$backGroundColor: #DFCED5;
$middleColor: #C39EC3;
$lightestColor: #F2F2F2;

.categoryCardContainer{
    width: 150px;
    height: 150px;
    background-color: $lightestColor;
    margin: 5%;
    padding: 2%;
    padding-bottom: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 16px #794983;

    h4{
        color: $primaryColor;
        font-family: $font;
        font-size: 1rem;
        height: 70px;
        padding-top: 20px;
    }

    .buttonCategoryContainer{
        text-decoration: none;
        button {
            /* margin: 10%; */
            margin: 3%;
            margin-bottom: 0%;
            margin-top: 1%;
            color: white;
            font-size: 1rem;
            font-weight: 300;
            background: #794983;
            border: 2px solid;
            border-color: #794983;
          }
          button:hover {
            color: rgba(255, 255, 255, 1);
            box-shadow: 0 4px 16px #794983;
            transition: all 0.2s ease;
          }

    }
}

.allCategoriesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    .categoryTitleContainer{
        margin-top: 3%;
        margin: 2%;
        h3{
            color: $primaryColor;
            font-family: $font;
        }
    }

    .CreateNewCategoryContainer{
        text-decoration: none;
        margin: 3%;
        margin-top: 0;
        button {
            margin: 3%;
            margin-bottom: 0%;
            margin-top: 1%;
            color: white;
            font-size: 1rem;
            font-weight: 500;
            width: 100%;
            background: $secondaryColor;
            border: 2px solid;
            border-color: $secondaryColor;
          }
          button:hover {
            color: $lightestColor;
            box-shadow: 0 4px 16px $secondaryColor;
            transition: all 0.2s ease;
          }
    }

    .cardCategories{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5%;
        margin-top: 0;
        justify-content: center;

        section{
            margin: 3%;
        }
    }
}