@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato',
sans-serif;

$primaryColor: #794983;
$secondaryColor: #9C9AC0;
$backGroundColor: #DFCED5;
$middleColor: #C39EC3;
$lightestColor: #F2F2F2;

.father {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.isFavorite{
    display: flex;
    justify-content: flex-end;

    .btnFav{
        border-style: hidden;
        margin: 0.5rem;
    }
}

.containerDetail {
    display: flex;
    flex-direction: column;
    background-color: $lightestColor;
    border-radius: 20px;
    box-shadow: 0 4px 16px $primaryColor;
    margin-top: 10px ;
    margin-bottom: 2rem;
    width: 700px ;
    height: 90%;
    margin-bottom: 3%;
}

.containerInfoDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    padding-top: 3%;
    padding: 3%;
}


.container2 {
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 40%;
    padding-top: 5%;
    align-items: center;

    h2 {
        font-family: $font;
        color: $primaryColor;
    }

    p {
        font-family: $font;
        text-align: left;
        color: $primaryColor;
    }

    span {
        font-family: $font;
        color: $secondaryColor;
    }

    .btnContainer {
        display: flex;
        flex-direction: row;
    }
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 300px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        .containerMedium {
            display: flex;
            flex-direction: row;
            width: 79%;
            justify-content: center;
            align-items: center;
            justify-content: space-between;

            span {
                margin-left: 1px;
                color: $primaryColor;
                font-size: 0.8rem;

            }

            h4 {
                font-family: $font;
                font-size: 1rem;
                color: $primaryColor;
                margin-bottom: 0;
                width: 209px;
            }

            select {
                color: $primaryColor;
                width: 100px;
                height: 30px;
                font-family: $font;
                background-color: $lightestColor;
                border-radius: 5%;
                border: 1px solid $primaryColor;
                margin-left: 10px;
                margin: 2%;
                margin-bottom: 1px;

                option {
                    background-color: $primaryColor;
                    color: $lightestColor;
                }
            }

            img {
                width: 9rem;
            }
        
            .condicional {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5rem;
                height: 6rem;
            }
        }

        .containerMedium2 {
            display: flex;
            flex-direction: row;
            width: 66%;
            align-items: center;
            margin-bottom: 2%;
            justify-content: flex-start;

            .label {
                font-family: $font;
                font-size: 1rem;
                color: $primaryColor;
                margin-bottom: 0;
                width: 230px;
                text-align: left;
            }

            input {
                border: 1px solid $primaryColor;
                border-radius: 5px;
                color: $primaryColor;
                margin-left: 10px;
                margin-right: 30px;
                width: 4.4rem;
            }
        }

        button {
            color: $lightestColor;
            font-weight: 500;
            background-color: $primaryColor;
            border: 1px solid $middleColor;
            border-radius: 5%;
            //realizar los cambios pertinentes
            height: 2rem;
            width: 10rem;
            margin: 5%;
            color: white;
            font-family: 'Raleway', sans-serif;
            font-size: 1rem;
        }
        
        button:hover {
            color: rgba(255, 255, 255, 1);
            box-shadow: 0 4px 16px #794983;
            transition: all 0.2s ease;
        }

    }
}

@media (max-width: 700px){

    .containerDetail{
        width: 400px;
        .containerInfoDetail {
            display: flex;
            flex-direction: column;
            margin: 3%;
            align-content: center;
            align-items: center;
        }

        .container2{
            text-align: center;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                text-align: center;
            }
        }

        .container3{
            width: 400px;

            .containerMedium {
                display: flex;
                flex-direction: row;
                width: 63%;
                justify-content: center;
                align-items: center;
                margin-bottom: 2%;
                justify-content: space-between;
        
                span {
                    margin-left: 1px;
                    color: $primaryColor;
                    font-size: 0.5rem;
        
                }
        
                h4 {
                    font-family: $font;
                    font-size: 0.7rem;
                    color: $primaryColor;
                    margin-bottom: 0;
                    // margin-right: 60px;
                }
            }
            .containerMedium2 {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
        
                .label {
                    font-family: $font;
                    font-size: 0.7rem;
                    color: $primaryColor;
                    margin-bottom: 0;
                    width: 50%;
                    text-align: left;
                }
                input{
                    width: 40%;
                }
            }
        }
    }

    //-------------PREGUNTAS Y RESPUESTAS------------------
    

}

@media (max-width: 400px){
    // .father{
    //     width: 250px;
    //     margin-left: 5%;
    // }
    .containerDetail{
        width: 250px;
        .containerInfoDetail {
            display: flex;
            flex-direction: column;
            margin: 3%;
            align-content: center;
            align-items: center;

            p{
                text-align: center;
            }
        }

        .container1{
            width: 70%;
        }

        .container2{
            text-align: center;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                text-align: center;
            }
        }

        .container3{
            width: 250px;

            .containerMedium {
                display: flex;
                flex-direction: column;
                width: 63%;
                justify-content: center;
                align-items: center;
                margin-bottom: 2%;
                justify-content: space-between;
        
                span {
                    margin-left: 1px;
                    color: $primaryColor;
                    font-size: 0.5rem;
                    text-align: center;
                }
        
                h4 {
                    font-family: $font;
                    font-size: 0.7rem;
                    color: $primaryColor;
                    margin-bottom: 0;
                    text-align: center;
                    margin-right: 1%;
                }
            }
            .containerMedium2 {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
        
                .label {
                    font-family: $font;
                    font-size: 0.7rem;
                    color: $primaryColor;
                    margin-bottom: 0;
                    width: 100%;
                    text-align: center;
                }
                input{
                    width: 80%;
                    margin-left: 1%;
                    margin-right: 1%;
                }
            }
        }
    }

}