@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

$primaryColor: #794983;
$secondaryColor: #9C9AC0;
$backGroundColor: #DFCED5;
$middleColor: #C39EC3;
$lightestColor: #F2F2F2;


body{
    background-color: #f0f0f0;
}

.questions{
    width: 600px;

    .question{
        width: 100%;
        margin-bottom: 20px;

        p{
            margin: 0 0 10px 0;
        }
    }

}

.bubble{
    position: relative;
    background-color: $lightestColor;
    padding: 20px;
    color: $primaryColor;
    border-radius: 3px;
    margin-left: 20px;
}

.bubble:after{
    content: "";
    display: block;
    position: absolute;

    top: 15px;
    margin-left: -35px;

    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    border-right: 15px solid #fff;
}
// .QandAMaxContainer{
//     display: flex;
//     flex-direction: column;

//     .titleQuestion{
//         color: $primaryColor;
//         font-family: $font;
//         font-size: 2rem;
//     }
    

//     .QandAContainer{

//         .question{
//             color: $primaryColor;
//             background-color: $lightestColor;

//             h2{
//                 font-size: 1.5rem;
//                 font-family: $font;
//                 text-align: left;
//                 background-color: $primaryColor;
//                 color: $lightestColor;
//                 padding: 5px;
//             }
//         }
//     }
// }