@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

.creation_form {
  display: flex;
  align-self: center;
}

.creation-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 50px;
  right: -370px;
}

.fieldset {
  display: block;
  border-radius: 8px;
  border: 2px groove #794983;
  min-inline-size: min-content;
  padding: 12px 20px;
  margin: 8px;
  width: 35%;
  height: 15%;
}

legend {
  background-color: #794983;
  color: #fff;
  padding: 3px 6px;
  border-radius: 20px;
}

#title {
  position: absolute;
  top: 70px;
  left: 35px;
  color: #794983;
  border-bottom: #794983 2px double;
  font-family: 'lato';
}

input {
  margin: .4rem;
}

input[type=text] {
  border-radius: 8px;
}

input[type=text]:focus {
  background-color: #F2F2F2;
  border: 3px solid #9C9AC0
}

input[type=number] {
  border-radius: 8px;
}

input[type=number]:focus {
  background-color: #F2F2F2;
  border: 3px solid #9C9AC0
}

textarea {
  border-radius: 8px;
}

textarea:focus {
  background-color: #F2F2F2;
  border: 3px solid #9C9AC0
}

select {
  border-radius: 8px;
}


#textarea {
  z-index: 2;
}

#back-button {
  position: relative;
  top: 80px;
  left: -750px;
  font-family: 'lato';
}

#submit-button {
  position: absolute;
  top: 0px;
  left: -120px;
  font-family: 'lato';
}

#error_container {
  display: flex;
  position: absolute;
  right: 0px;
}

#categories-list {
  position: relative;
  left: 200px;
}

.size-stock {
  position: relative;
  right: 600px;
  top: 125px;
  font-size: large;
  font-family: 'lato';
  font-weight: bold;
  list-style: none;
}

#categories-list-label {
  position: relative;
  right: 1220px;
  top: 110px;
  font-size: large;
  font-family: 'lato';
  font-weight: bold;
}

#categories-list {
  position: absolute;
  left: 50px;
  bottom: -110px;
  font-size: large;
  font-family: 'lato';
  font-weight: bold;
  width: 350px;
  list-style: none;
}

.error {
  display: flex;
  text-align: center;
  margin: 0.1rem;
  font-size: 1.3rem;
  font-weight: 900;
  color: rgb(243, 33, 33);
  // background-color: rgb(4, 4, 4);
}
