.card {
    width: 300px;
    border-color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  
    &:hover {
      transform: scale(1.05);
    }
  
  }

  .teamImage{
    display: flex;
   justify-content: center;
    
    
  }
  .imagenOne{
    display: flex;
    background-color:#666 ;
    width: 50%;
    justify-content: center;
  }
  .imagenTwo{
    display: flex;
    background-color:#b18f19 ;
    width: 50%;
    justify-content: center;
  }